<% provide(:title, "Sign in") %>
<div class="well">
<h2>Sign in</h2>

<div class="row" id="rowspacer">
  <div class="col-sm-5 col-md-5">
    <%= form_for(:session, url: sessions_path) do |f| %>

        <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, :class => "form-control", :placeholder => "Enter email" %>
        </div>
        <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, :class => "form-control", :placeholder => "Enter password" %>
        </div>
        <%= f.submit "Sign in", class: "btn btn-large btn-success" %><br><br>
        <!--<p>Don't have an Accelerator account? <%= link_to("Sign up here", signup_path) %></p>-->
    <% end %>
  </div>
</div>
</div>