<% provide(:title, 'GVS Accelerator | Application form') %>

<%= form_for @acc_application, :html => { :multipart => true } do |f| %>
  <% if @acc_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acc_application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @acc_application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row well" id="rowspacer">
      <div class="col-md-10">
        <h2>Application Phase 1</h2><br>
        <% if current_user.admin? %>
            <div class="form-group">
              <%= f.label(:status, 'Status') %>
              <%= select(:acc_application, :status, [['new', 'new'], ['pass', 'pass'], ['consider', 'consider'], ['recommend', 'recommend'], ['incomplete', 'incomplete'] ], :class => "form-control") %>
            </div>
        <% end %>
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p><strong>Items with a * are required for consideration.</strong></p>
          <p>Saving the application as a draft allows you to edit the application at a later time. After you are finished with your application, select "Submit Application" and your application will be delivered.  You will no longer be able to make edits to your application after you submit.</p>
        </div>
        <h3>Applicant Basic Info & Background</h3>
        <div class="form-group">
          <%= f.label(:appform_field_1, QUESTION_ONE) %>
          <%= f.text_field :appform_field_1, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_2, QUESTION_TWO) %>
          <%= f.text_area :appform_field_2, :class => "form-control", :cols => 40, :rows => 2 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_3, QUESTION_THREE) %>
          <%= f.text_area :appform_field_3, :class => "form-control", :cols => 40, :rows => 5 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_4, QUESTION_FOUR) %>
          <p style="padding-left: 20px"><i>Please provide: Last name, First name, company role, email address, mailing address, physical location, phone, date of birth, personal website, LinkenIn, etc. (if applicable), education & training (schools attended, year of graduation, course of study, degree or certificate earned), professional history (attach resume or list significant professional experience: company name/project, role/job title, scope of work, any recognition of note)</i></p>
          <%= f.text_area :appform_field_4, :class => "form-control", :cols => 40, :rows => 13 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_5, QUESTION_FIVE) %>
          <p style="padding-left: 20px"><i>Please provide: Last name, First name, company role, email address, mailing address, physical location, phone, date of birth, personal website, LinkenIn, etc. (if applicable), education & training (schools attended, year of graduation, course of study, degree or certificate earned), professional history (attach resume or list significant professional experience: company name/project, role/job title, scope of work, any recognition of note)</i></p>
          <%= f.text_area :appform_field_5, :class => "form-control", :cols => 40, :rows => 13 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_6, QUESTION_SIX) %>
          <%= f.text_area :appform_field_6, :class => "form-control", :cols => 40, :rows => 1 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_7, QUESTION_SEVEN) %>
          <%= f.text_area :appform_field_7, :class => "form-control", :cols => 40, :rows => 3 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_8, QUESTION_EIGHT) %>
          <%= f.text_area :appform_field_8, :class => "form-control", :cols => 40, :rows => 1 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_9, QUESTION_NINE) %>
          <p style="padding-left: 20px"><ol><li>Does the team’s primary applicant have any other regular/daily commitments (job, etc.)?  List commitments with hours per week and term.</li><li>Do the team’s other members have any other regular/daily commitments(job, etc.)?  List commitments with hours per week and term.</li></ol>
          </p>
          <%= f.text_area :appform_field_9, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_10, QUESTION_TEN) %>
          <%= f.text_area :appform_field_10, :class => "form-control", :cols => 40, :rows => 1 %>
        </div>
        <br>
        <h3>Company Goals & Status</h3>
        <div class="form-group">
          <%= f.label(:appform_field_11, QUESTION_ELEVEN) %>
          <%= f.text_area :appform_field_11, :class => "form-control", :cols => 40, :rows => 4 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_12, QUESTION_TWELVE) %>
          <%= f.text_area :appform_field_12, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_13, QUESTION_THIRTEEN) %>
          <%= f.text_field :appform_field_13, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_14, QUESTION_FOURTEEN) %>
          <%= f.text_area :appform_field_14, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_15, QUESTION_FIFTEEN) %>
          <%= f.text_area :appform_field_15, :class => "form-control", :cols => 40, :rows => 5 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_16, QUESTION_SIXTEEN) %>
          <%= f.text_area :appform_field_16, :class => "form-control", :cols => 40, :rows => 2 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_17, QUESTION_SEVENTEEN) %>
          <%= f.text_area :appform_field_17, :class => "form-control", :cols => 40, :rows => 5 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_18, QUESTION_EIGHTEEN) %>
          <%= f.text_area :appform_field_18, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_19, QUESTION_NINETEEN) %>
          <%= f.text_area :appform_field_19, :class => "form-control", :cols => 40, :rows => 3 %>
        </div>
        <p><strong>*20. Please download, complete and return the <%= link_to "Application Release Form", "../assets/GVS_Transmedia_Accelerator_Program_Application_Release.pdf", target: "_blank" %> to the email address: <%= mail_to "accel@globalvirtualstudio.com", "accel@globalvirtualstudio.com" %>.<br>Your application will not be reviewed until we have received this form.</strong></p>
        <br><br>
        <div class="actions">
          <% if current_user.admin? %>
              <%= f.submit "Save as Draft", class: "btn btn-lg btn-success" %>
          <% else %>
              <%= f.submit "Submit Application", class: "btn btn-lg btn-success" %>
              <span style="padding-left: 20px"></span><%= f.submit "Save as Draft",  class: "btn btn-default btn-success" %>
          <% end %>
        </div>
      </div>
     </div>

<% end %>
