<% provide(:title, 'GVS Accelerator | Application form') %>

<%= form_for @acc_application, :html => { :multipart => true } do |f| %>
  <% if @acc_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acc_application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @acc_application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row well" id="rowspacer">
      <div class="col-md-10">
        <div class="form-group">
          <%= f.label(:appform_field_1, '1. What is the name of your company?') %>
          <%= f.text_field :appform_field_1, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_2, '2. Please describe your business in 140 characters or less.') %>
          <%= f.text_area :appform_field_2, :class => "form-control", :cols => 40, :rows => 2 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_3, "3. In more detail, what will your company do or make? What's new, interesting, or different about what your company will do?
              Please provide a short synopsis of content/story of each company product.") %>
          <%= f.text_area :appform_field_3, :class => "form-control", :cols => 40, :rows => 5 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_4, '4. What is your company website URL? (i.e. http://www.yourcompany.com)') %>
          <%= f.text_field :appform_field_4, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_5, '5. Please provide a video (Vimeo, Youtube URL) < 3 minutes long which best describes your business. Production value is not important to us, it can be quick and dirty. If a password or other information is needed to access the video, please add it here.') %>
          <%= f.text_area :appform_field_5, :class => "form-control", :cols => 40, :rows => 3 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_6, '6. Please provide a video (Vimeo, Youtube URL) < 3 minutes long which best describes your team. Production value is not important to us, it can be quick and dirty. If a password or other information is needed to access the video, please add it here.') %>
          <%= f.text_area :appform_field_6, :class => "form-control", :cols => 40, :rows => 3 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_7, "7. Please tell us about each founder and their role. Explain how you met and how long you've been working together. Please be thorough because we place a great deal of importance on the team.") %>
          <%= f.text_area :appform_field_7, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_8, "8. Explain how the company will make money.") %>
          <%= f.text_area :appform_field_8, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_9, "9. Please provide information on current or likely competitors. Include key differentiators. Please include URLs.") %>
          <%= f.text_area :appform_field_9, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_10, "10. What are some things that the team (or its members) have built in the past? Please include URLs.") %>
          <%= f.text_area :appform_field_10, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_11, "11. Can each of the founders attend the entirety of the program, or do some of you have other obligations during the timeframe of the program? If not, please explain.") %>
          <%= f.text_area :appform_field_11, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_12, "12. Not including the founders, how many additional employees are there? Please provide LinkedIn profiles and Github URLs (if applicable).
") %>
          <%= f.text_area :appform_field_12, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_13, "13. Where in the state of Hawai'i do you plan to produce your products?") %>
          <%= f.text_field :appform_field_13, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_14, "14. How will your company impact the State of Hawai'i in 2 years, 5 years, 10 years?") %>
          <%= f.text_area :appform_field_14, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_15, "15. How will you maximize the cultural impact of your project?") %>
          <%= f.text_area :appform_field_15, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_16, "16. Please provide information on money the company has already raised, and any information on fundraising plans for the future. Also list any assets the company has developed so far (including concept design, previsualization, etc.)") %>
          <%= f.text_area :appform_field_16, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_17, "17. Why should we choose your company?") %>
          <%= f.text_area :appform_field_17, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_18, "18. How did you hear about GVS Transmedia Accelerator?") %>
          <%= f.text_area :appform_field_18, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
      </div>
     </div>

  <div class="actions">
    <%= f.submit "Send New Application", class: "btn btn-large btn-success" %>

  </div>
<% end %>
