<% provide(:title, 'GVS Accelerator | Application form') %>

<%= form_for @acc_application, :html => { :multipart => true } do |f| %>
  <% if @acc_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acc_application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @acc_application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row well" id="rowspacer">
      <div class="col-md-10">
        <% if current_user.admin? %>
            <div class="form-group">
              <%= f.label(:status, 'Status') %>
              <%= select(:acc_application, :status, [['new', 'new'], ['pass', 'pass'], ['consider', 'consider'], ['recommend', 'recommend'], ['incomplete', 'incomplete'] ], :class => "form-control") %>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label(:appform_field_1, QUESTION_ONE) %>
          <%= f.text_field :appform_field_1, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_2, QUESTION_TWO) %>
          <%= f.text_area :appform_field_2, :class => "form-control", :cols => 40, :rows => 2 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_3, QUESTION_THREE) %>
          <%= f.text_area :appform_field_3, :class => "form-control", :cols => 40, :rows => 5 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_4, QUESTION_FOUR) %>
          <%= f.text_field :appform_field_4, :class => "form-control", :placeholder => "http://www.yourcompany.com" %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_5, QUESTION_FIVE) %>
          <%= f.text_area :appform_field_5, :class => "form-control", :cols => 40, :rows => 3 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_6, QUESTION_SIX) %>
          <%= f.text_area :appform_field_6, :class => "form-control", :cols => 40, :rows => 3 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_7, QUESTION_SEVEN) %>
          <%= f.text_area :appform_field_7, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_8, QUESTION_EIGHT) %>
          <%= f.text_area :appform_field_8, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_9, QUESTION_NINE) %>
          <%= f.text_area :appform_field_9, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_10, QUESTION_TEN) %>
          <%= f.text_area :appform_field_10, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_11, QUESTION_ELEVEN) %>
          <%= f.text_area :appform_field_11, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_12, QUESTION_TWELVE) %>
          <%= f.text_area :appform_field_12, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_13, QUESTION_THIRTEEN) %>
          <%= f.text_field :appform_field_13, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_14, QUESTION_FOURTEEN) %>
          <%= f.text_area :appform_field_14, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_15, QUESTION_FIFTEEN) %>
          <%= f.text_area :appform_field_15, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_16, QUESTION_SIXTEEN) %>
          <%= f.text_area :appform_field_16, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_17, QUESTION_SEVENTEEN) %>
          <%= f.text_area :appform_field_17, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
        <div class="form-group">
          <%= f.label(:appform_field_18, QUESTION_EIGHTEEN) %>
          <%= f.text_area :appform_field_18, :class => "form-control", :cols => 40, :rows => 7 %>
        </div>
      </div>
     </div>

  <div class="actions">
    <%= f.submit "Submit Application", class: "btn btn-large btn-success" %>

  </div>
<% end %>
