<h2>Listing GTA applications</h2>
<br>

<div class="well">
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Company Name</th>
      <th>Company Description</th>
      <th>Status</th>
      <th>Date Submitted</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @acc_applications.each do |acc_application| %>
      <tr>
        <td><%= link_to acc_application.id, acc_application %></td>
        <td><%= link_to acc_application.appform_field_1, acc_application %></td>
        <td style="width: 40%"><%= acc_application.appform_field_2 %></td>
        <%
          status = acc_application.status
          case status
          when "new"
        %>
          <td style="background-color: #5165E8; color: white; font-weight: bold; text-align: center;vertical-align: middle; width: 5%">New</td>
        <% when "consider" %>
          <td style="background-color: #FF6A19; color: white; font-weight: bold; text-align: center;vertical-align: middle; width: 5%">Consider</td>
        <% when "recommend" %>
          <td style="background-color: #F7CB2A; color: white; font-weight: bold; text-align: center;vertical-align: middle; width: 5%">Recommend</td>
        <% when "pass" %>
            <td style="background-color: #30BA40; color: white; font-weight: bold; text-align: center;vertical-align: middle; width: 5%">Pass</td>
        <% when "incomplete" %>
            <td style="background-color: #DE1D10; color: white; font-weight: bold; text-align: center;vertical-align: middle">Incomplete</td>
        <% end %>
        <td><%= acc_application.created_at.to_date %></td>
        <td>
          <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;Show'.html_safe, acc_application, class: "btn btn-success btn-xs", id: "btn-xs-padding" %><br>
          <%= link_to '<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit'.html_safe, edit_acc_application_path(acc_application), class: "btn btn-primary btn-xs", id: "btn-xs-padding" %><br>
          <%= link_to '<span class="glyphicon glyphicon-remove-sign"></span>&nbsp;&nbsp;Destroy'.html_safe, acc_application, class: "btn btn-danger btn-xs", id: "btn-xs-padding", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acc application', new_acc_application_path %>
</div>