<% provide(:title, 'All users') %>

<h2 style="margin-top: -50px">All Startups (<%= @users.all.size %>)</h2>
<div class="google-maps">
  <div id="map" style='width: 1140px; height: 400px;'></div>
</div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	    markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>


<div class="row">
  <% @users.each do |user|%>
      <div class="col-md-3 col-sm-3" id="rowspacer">
        <div class="thumbnail thumbindex">
          <%= link_to image_tag(user.avatar.url(:thumb), class: "thumbnailindex"), user %>
          <strong>
            <!-- If user is registered and filled out application form show company name else show 'No application'  -->
          <% if user.acc_application.nil? %>
                No application yet
          <% else %>
                <%= link_to user.acc_application.appform_field_1.truncate(17), user %>
          <% end %>
          </strong>
         <% if current_user.admin? && !current_user?(user) %>
               <span style="font-size: .9em;">|
                 <%= link_to "delete", user, method: :delete,
                        data: { confirm: "You sure?"},
                        id: 'deleteUser'%>
               </span>
          <% end %>
          <br /><small><%= user.name %></small>
        </div>
      </div>
  <% end %>
</div>

<%= will_paginate %>