<% provide(:title, 'Sign up') %>
<div class="well">
    <h2>Sign up</h2>

    <div class="row" id="rowspacer">
      <div class="col-md-5 col-sm-5">

        <%= form_for @user, :html => { :multipart => true } do |f| %>
            <%= render 'shared/error_messages' %>

            <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, :class => "form-control", :placeholder => "Enter name" %>

            </div>
            <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, :class => "form-control", :placeholder => "Enter email" %>
            </div>
            <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
            </div>
            <div class="form-group">
            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Retype password" %>
            </div>
            <br>
            <%= f.submit "Create my account", class: "btn btn-large btn-success" %><br><br>
            <p>Already have an account? <%= link_to("Login here", signin_path) %></p>
        <% end %>

      </div>
      <!--<div class="col-sm-3 col-md-3 col-md-offset-1 col-sm-offset-1">-->
        <!--<p>Hi there,</p><p>Before you fill out your application form you have to first sign up for an account.</p>-->
        <!--<p>You can save your application as a draft for further editing. Once you submit your application you won't be able to edit it.</p>-->
      <!--</div>-->
      </div>
    </div>