<% provide(:title, @user.name) %>

  <div class="row well" style="margin-top: -80px">
    <div class="col-sm-8 col-md-8">
        <%= image_tag(@user.avatar.url(:medium), size: "150", class: "avatar") %>
        <h2><strong><%= @user.name %> </strong><code style="font-size: .5em"><%= @user.status %></code></h2>
        <p><%= @user.city %><%= @user.city.nil? || @user.city.empty? ? " " : "," %><%= @user.state %> <%= @user.zipcode %><br><%= @user.country %></p>
    </div>
    <div class="col-sm-4 col-md-4 well" id="profileSidebar">
      <p>
          Email: <strong><%= @user.email %></strong><br />
          Address: <strong><%= @user.address %></strong><br />
          City: <strong><%= @user.city %></strong><br>
          State, Zipcode: <strong><%= @user.state %>, <%= @user.zipcode %></strong><br />
          Phone: <strong><%= @user.phone %></strong><br />
          Skype: <strong><%= @user.skype %></strong><br />
          Website: <strong>
        <% if !@user.creative_platform_profile.nil? %>
            <%= link_to @user.website, @user.website.scan(/^http:/) ? @user.website : "http://#{ @user.website }"%>
        <% end%></strong><br />
          Portfolio: <strong>
        <% if !@user.creative_platform_profile.nil? %>
            <%= link_to @user.creative_platform_profile, @user.creative_platform_profile.scan(/^http/) ? "http://#{ @user.creative_platform_profile }" : @user.creative_platform_profile %>
        <% end%></strong><br />
      </p>
    </div>
  </div>

<% if @user.acc_application %>
    <h3>Submitted Application</h3>
    <%= render "layouts/acc_application" %>
<% elsif !current_user.admin?%>
    <%= link_to 'New Application', new_acc_application_path, class: "btn btn-md btn-primary"  %>
<% end %>
