<% provide(:title, 'Accelerator') %>
<% provide(:carousel, '') %>

<div class="apply-img" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-sm-12 col-md-12" id="adaptive">
      <%= link_to image_tag("/assets/Boardroom_revised.jpg", alt: "GTA Boardroom"), "https://www.facebook.com/pages/Global-Virtual-Studio/1472986646264607?ref=hl" %>
    </div>
  <div class="row" id="rowspacer">
      <div class="col-sm-2 col-md-2" style="text-align:center"><%= image_tag("/assets/whiterocket.png", alt: "GTA rocket", class: "rocket-style" ) %></div>
      <div class="col-sm-6 col-md-6">

        <h2>The BoardRoom<br><small>THE BOARDROOM: An insider pitch and conversation with the Chairman of the Board and a power panel of industry frontrunners, innovative pioneers and venture capitalists.</small></h2>
        <div id=""rowspacer">
        <br>
        <p>Want to hear from the decision makers on what they’re looking for from Accelerator applicants?   This is your chance to hear directly from them so you can begin tuning up your franchise for the next application period..
            </p>
        <p><b>Submission Deadline: Friday, February 13th</b></p>

        <h4><%= link_to asset_path("/assets/Boardroom flyer submission details.pdf"), :class => "whiterocket.png" do %> CLICK HERE FOR MORE INFORMATON <% end %></h4>

      </div>
        <br>

        <h2>How it Works<br /><small>GVS specializes in the development of transmedia projects and franchises.</small></h2>
        <div class="videoWrapper" style="margin: 0 auto">
          <iframe allowfullscreen="" src="https://player.vimeo.com/video/91676070" frameborder="0" width="500" height="281"></iframe>
        </div>
        <div id="rowspacer">
            <p>From story and script refinement and creative proof of concept to breakdowns, schedule and budget for execution to business, marketing and distribution plans - teams will be accelerated through GVS’ unique Transmedia Pipeline positioning them for successful follow-on financing.  Selected companies will develop at least 3 transmedia products (per company) that are grown out of their creative IP and financed by $50K in seed funding for development processes in exchange for a 10% equity stake in participant companies.</p>
            <p>Preference will be shown to candidates who demonstrate plans to produce products and retain the value of their Intellectual Property in Hawai’i, or continue business activities in Hawai’i.  The Accelerator is meant to foster creativity and stimulate job growth for creative industries in Hawai’i.</p>
            <p>The Accelerator initiative is located in Kailua-Kona on the Big Island of Hawai’i.   Accepted Teams will need to attend certain sessions in person during this time.</p>

          <br>
          <h2>Transmedia Project Pipeline</h2>
          <div id="adaptive">
            <%= image_tag "dev-pipeline.png" %>
          </div>
          <br><br>
          <h2>Each selected Team will:</h2>
          <p>
            <ul>
              <li>Participate in a six-month intensive program including tailored curriculum and evaluations</li>
              <li>Receive insight from expert mentors, hands-on coaching, topical seminars, and peer-workshopping</li>
              <li>Share co-workspace in a synergistic environment at Honua Studios in Kona, Hawai’i</li>
              <li>Participate in the cohort graduation showcase</li>
            </ul>

          </p>
          <br>
          <h2>Sample of Mentors</h2>
          <p><strong>Mike Frank</strong> – Senior Executive<br>
            Disney, Pepsi, Level 3 (Founder)</p>
          <p><strong>Ralph Winter</strong> - Film Producer<br>
            <i>X-MEN</i> franchise, <i>Fantastic Four</i> franchise, <i>Planet of the Apes</i></p>
          <p><strong>David L. Cunningham</strong> - Filmmaker<br>
            <i>Beyond Paradise, To End All Wars, Path to 9/11, The Seeker</i></p>
          <p><strong>Lance Priebe</strong> – Online gaming designer-entrepreneur<br>
            Co-founder & Creator of <i>Club Penguin</i></p>
          <p><strong>Grant Curtis</strong> – Film Producer<br>
            The <i>Spider-Man</i> Trilogy, <i>OZ: The Great and Powerful, The Gift</i></p>
          <p><strong>John Fusco</strong> – Screenwriter<br>
            <i>Crouching Tiger Hidden Dragon II, Hidalgo, Young Guns 1 & 2, Forbidden Kingdom</i></p>
          <p><strong>James Snook</strong> – Former Head of Innovations for Starbucks (20 years)</p>
          <p><strong>Cameo Wallace</strong> – Documentary Executive Producer<br>
            Discovery Channel, <i>Mythbusters, Alaska: The Last Frontier, Outlaw Empires</i></p>
          </p>
          <br>
          <h4>Questions? Visit the <%= link_to "FAQ page", faq_path %></h4>
          <h4>Not ready yet?  <%= link_to "Check out Creative Lab and Ideation", "https://www.facebook.com/creativelabathiff", target: "_blank" %></h4>
          <br>

          <h3>Press</h3>
          <p>
            <%= link_to "Deadline - Hollywood Trade Magazine - Press Release","http://www.deadline.com/2014/04/david-l-cunningham-launches-first-hawaii-transmedia-content-accelerator/", target: "_blank" %></br>
            <%= link_to "KITV Interview", "http://www.kitv.com/news/thismorning/Hollywood-director-helps-local-filmmakers/25641904", target: "_blank" %><br>
            <%= link_to " Hawai'i Public Radio Interview", "http://hpr2.org/post/transmedia-accelerator-student-congressional-debate-psychology-runaway-teens-makana", target: "_blank" %><br>
            <%= link_to "Business Journal Article", "http://www.bizjournals.com/pacific/news/2014/04/10/hawaii-invests-in-entertainment-industry.html?page=all", target: "_blank" %><br>
            <%= link_to "Creative Industries Hawai'i Press Release", "http://cid.hawaii.gov/main/gvs-transmedia-accelerator-applications-are-open/", target: "_blank" %>
            </p><br>
        </div>
      </div>
    <div><%= image_tag("/assets/acc_partner_banner.png", alt: "GTA Accelerator") %>
    </div>
      <div class="col-sm-4 col-md-4">
        <div class="apply-box" style="font-size: 1.2em">
          <p><strong>Application Period:</strong> April 11 - May 9th, 2014*</p>
          <p><strong>Start:</strong> late May/early June, 2014</p>
          <p><strong>Applications:</strong> <span style="color: #04bbf7;font-size: 1.2em"> CLOSED</span> </p>
          <!--<div style="text-align:center" id="rowspacer">-->
            <!--<%= button_to "APPLY", signup_path, class: "btn btn-success btn-lg", id: "apply-btn", method: :get %>-->
          <!--</div>-->
        </div>
        <div class="apply-box-subinfo">
        <small>* Application includes three phases. Phase 1 application must be submitted by May 9th, Phase 2 must be submitted no later than May 12th (note: Phase 2 is intensive)</small></div>
      </div>
  </div>
</div>
</div>


<!-- End Main Content -->