<% provide(:title, 'boardroom') %>
<% provide(:carousel, '') %>

<div class="page-header" id="whiteBg">
   <div class="row">
      <div class="col-sm-10">
        <h2>The BoardRoom</h2>
          <div id="rowspacer">
            <h3>...an insider pitch and conversation with the Chairman of the Board and a power panel of industry frontrunners, innovative pioneers and venture capitalists.</h3>
            <h4>Submission Deadline: Friday, February 13th</h4>
            <p>The GVS Transmedia Accelerator is offering Hawaii’s creative entrepreneurs a shot at pitching in “The Boardroom” on February 27th, 2015 3:30pm to 6:30pm (Oahu or Big Island locations)</p>
<br>
            <p>Want to hear from the decision makers on what they’re looking for from Accelerator applicants?   This is your chance to hear directly from them so you can begin tuning up your franchise for the next cycle (application period summer 2015).  Submit your transmedia franchise concept for a chance to present your live pitch for feedback from the pros and those hard questions every entrepreneur needs to hear.</p>
            <br>
            <p>If selected, pitches can be given from Kona on the Big Island (site of live panel) and Honolulu on Oahu.
            </p>
            <br>
            <p>Not ready to pitch, but want to watch and learn?  Reserve a seat in our live audience in Kona! (see below for registration)</p>
            <br>
            <br>
            <br>
            <h4>Questions? Visit the <%= link_to "FAQ page", faq_path %></h4>
            <P>The GVS Transmedia Accelerator Program is less about incubating ideas and concepts in early stages but more about accelerating projects that have an existing foundation (i.e.: an existing script).</p>
            <h4>How much funding do selected companies receive?</h4>
            <p>Selected companies will receive $50K in seed investment funding from the GTA Development Fund. In addition, companies will receive dedicated mentoring and coaching over a 6-month intensive program to develop the franchise and position the company for raising follow on funding.</p>
            <h4>How much equity does the Fund take?</h4>
            <p>Selected companies will sell 10% equity of their company to the GTA Development Fund in exchange for the investment and to be coached through the GVS Transmedia Project Pipeline.</p>
            <h4>What is the GVS Transmedia Project Pipeline?</h4>
            <p>The Transmedia Project Pipeline is about developing your franchise to the stage of potential to be funded and produced. The Pipeline is not about producing your franchise’s products but rather developing it to the stage where it has potential to be funded and produced.</p>
            <br>
            <h2>Transmedia Project Pipeline</h2>
            <div id="adaptive">
              <%= image_tag "dev-pipeline.png" %>
            </div>
            <h4>What does the application process involve?</h4>
            <p>The application is available on our website at <a href="http://www.globalvirtualstudio.com/accelerator ">www.globalvirtualstudio.com/accelerator</a></p>
            <p>The application process will require candidates to submit current drafts of their lead product’s script and show proof of chain of title.</p>

            <h4>How many companies will be accepted?</h4>
            <p>An average of six companies will be selected per cycle.</p>
            <h4>When is the Application period?</h4>
            <p>For its first cycle, the Program will be accepting applications from April 11, 2014 through May 9, 2014.</p>
            <h4>When does the first cycle’s intensive program start?</h4>
            <p>The first cycle will begin upon final selection of the cohort startup companies. We project early June 2014.</p>
            <h4>What are characteristics the Program is looking for in their applicants?</h4>
            <ul><li>Franchises geared for wide commercial audiences with stories that can be expressed over multiple transmedia platforms</li>
              <li>Potential to raise follow on funding</li>
              <li>Well rounded founder teams</li>
              <li>Team players that are in alignment with the GVS Transmedia Accelerator’s
                strengths, format and model</li>
              <li>Positive impact for Hawai’i</li></ul>

            <h4>OTHER</h4>
                  <p><strong>If the Program isn't actually going to fund my startup (i.e.: produce my franchise), why am I giving away 10% ownership?</strong><br>
                    The Accelerator Program does fund your effort by providing $50K of seed capital to help selected startups refine their content and create a compelling creative and business package. In addition, the Program provides access to strategic mentorships and hands-on coaching as well as introductions to new relationships. This combination will hopefully give you a significant advantage as you go out for follow on funding.</p>
            <p>The Program is investing seed money, providing coaching, opening doors and giving exposure. What selected companies do with this combination of opportunities will depend on them.</p>
            <p><strong>Who selects the companies?</strong><br>
              The Executive Board of the Fund (GTA Development Fund) will vote by majority on which companies are selected. The Executive Board of the Fund (GTA Development Fund) will vote by majority on which companies are selected.  This five-person board is made up of successful entrepreneurs, business executives and entertainment industry professionals. The GVS Transmedia Accelerator team (the day-to-day team facilitating the Program) does not sit on the Executive Board of the Fund and are not investors in the Fund.</p>
            <br>
            <h2>Accelerator Program Flowchart</h2>
            <div id="adaptive">
              <%= image_tag "Website-Flowchart-v7.png" %>
            </div>
            <p><strong>What does the selection process look like?</strong><br>
              First: Applicants must successfully complete both Phase 1 and Phase 2 of the Program application. This is a lengthy and detailed process.<br>
              Second: Applicants who have successfully completed Phases 1 & 2, and who meet basic program requirements, will be considered by members of the Advisory Committee of leading entertainment industry professionals.<br>
              Third: Those applicants who have the highest recommends are then presented to the Executive Board for a vote.</p>
                  <p><strong>Who is on the Advisory Committee & Mentor team?</strong>
                    A sample of our Advisors/Mentors are listed below:<br>
                    Lance Priebe - Gaming<br>
                    Grant Curtis - Feature Film Production<br>
                    Steve Okin – Entertainment Executive<br>
                    Andy Peterson – Entertainment Executive, Marketing Kevin Mills – Entertainment Law<br>
                    Sondra Haley – Public Relations<br>
                    John Fusco – Screenwriting<br>
                    Tab Murphy - Screenwriting<br>
                    Kevin Miller - Screenwriting<br>
                    Michael Palmieri - Film, TV, New Media Production, Script Consultation Edwin Marshall - TV, Film & App Production<br>
                    Paul Emami - Television & Commercial Production<br>
                    Mike Leahy – Feature Film and Reality TV Production<br>
                    Cameo Wallace - Documentary & Reality TV Production<br>
                    Sam Farmar - Documentary Production, Journalism<br>
                    James Snook - New Media, Apps, Innovative Marketing<br>
                    Scott Allen - Unified Communications & Telepresence<br>
                    Rebekah Allen - Unified Communications & Telepresence<br>
                    Robert Crotty - Transmedia Industry Networking, Cross-platform Innovation & Management<br>
                    Joel Kneedler - Publishing Industry Networking<br>
                    Cliff Graham - Digital & Self- Publishing Industry Networking<br>
                  </p>
                  <p><strong>Who are the investors in the Fund?</strong><br>
                    The GTA Development Fund is funded 50% by a pool of private accredited investors and 50% by the Hawaii Strategic Development Corporation (HSDC). The GTA Development Fund is a separate entity from the GVS Transmedia Accelerator. The GVS Transmedia Accelerator is not an investor in the Fund, but is aligned with the startup companies and the Fund, and will receive a share in the Fund’s profits.
                  </p>
                  <p><strong>Who is the Fund Manager for the GTA Development Fund?</strong><br>
                    A five-person, pro bono board (the “Executive Board”) manages the GTA Development Fund.</p>

                  <p><strong>Who founded the GVS Transmedia Accelerator?</strong><br>
                    David L. Cunningham is a filmmaker and entrepreneur and the Founder and Executive Director of the Accelerator. He leads the Accelerator team that runs the day-to-day operations of the Accelerator. He does not participate in the management of the Fund that selects and invests in Accelerator participants. However, he does have the opportunity to be on teams that apply to the program and is subject to the same criteria and review/selection process of each applicant.</p>
                  <p><strong>What does the Accelerator team do?</strong><br>
                    The Accelerator team, based at Honua Studios in Kailua-Kona, Hawai’i, runs the day-to-day operations of the Accelerator program, facilitates mentorship relationships and provides coaching for the cohort. The Accelerator team also helps to facilitate the information needs of the Executive Board and Advisory Committee.
                  </p>
                  <p><strong>Does the Accelerator team receive compensation from seed money invested in the companies?</strong><br>
                    No, the Accelerator team does not receive any compensation from the investment seed monies.</p>
                  <p><strong>Does the Accelerator team participate in the voting process for company selections?</strong><br>
                    No, the Accelerator team does not sit on the Executive Board of the Development Fund nor do they vote on company selections. The Accelerator team vets applications and passes qualified projects on to the Advisory Committee for the first round of review. (see “What does the selection process look like?” above for more detail.)</p>
                  <p><strong>Can I meet with the decision makers who will be reviewing the applications?</strong><br>
                    A variety of virtual and in some cases in-person interviews will be incorporated into the final phase of the application process for those candidates who meet all previous requirements.</p>
                  <p><strong>If my company is not selected will there be an opportunity for feedback?</strong><br>
                    Upon written request, the Accelerator will provide you with constructive feedback and the reasons your franchise was not selected.</p>
                  <p><strong>Can I re-apply during the following application cycle?</strong><br>
                    Yes, applicants may re-apply during a subsequent application period, following the same criteria of developing storytelling platforms with wide commercial viability and the potential to raise follow-on funding.</p>
                  <p><strong>Where is the GVS Transmedia Accelerator facility and what would be available to me as a selected startup?</strong><br>
                    Our facility is located at Honua Studios in beautiful Kailua-Kona, Hawai’i. Synergistic co-work space including internet access, shared access to conference room, quiet work space and more will be available to selected companies.</p>
                  <p><strong>Can I stop by the Accelerator facility to check you out?</strong><br>
                    Sure! If you’d like to come visit us, email accel@globalvirtualstudio.com and someone will be happy to connect!</p>

            <p><strong>What are some of the benefits of the Program for startups?</strong><br></p>
                  <ul><li>Tailored development curriculum: hands-on coaching through GVS’ Transmedia Project Pipeline to polish and package franchise portfolios (including developing the investor presentation and pitch practice)</li>
                  <li>Mentors: one on one advising from experienced professionals</li>
                  <li>Synergy and momentum: the Cohort dynamic and the growing industry
                    ecosystem around the Accelerator</li>
                  <li>Networking: selected startups will benefit from introductions and industry
                    relationships with our standout advisory committee and consultants</li>
                  <li>Access: top quality legal counsel, marketing professionals</li>
                  <li>Accelerator Showcase upon graduation</li>
                  <li>Creative Community Events & Speaker Series: gatherings, screenings,
                    creative collaborations, topical seminars, peer work-shopping and more</li></ul>

                  <p><strong>What would a typical week look like for a startup going through the Accelerator?</strong><br>
                    Each startup company will be on it’s own curriculum respective of its specific needs. Companies will work closely with their coach to set benchmarks and review development progress on a weekly basis in collaboration with their mentor(s). Entire cohort workshops and seminars will be organized at strategic junctures of the cycle and at the availability of key speakers and industry professionals.</p>

                  <p><strong>Could my company use the seed funding however we like?</strong><br>
                    Candidates will work together with Accelerator coaches to determine the most effective use of startup funds. A proposed budget is then submitted in cooperation with the Executive Board for final consideration and funding.</p>
                  <p><strong>Do I have to commit to the whole 6-month intensive period?</strong><br>
                    Each company will have its own needs and work at its own pace. If you are selected and receive seed funding, you are expected to complete the acceleration process at the advice and direction of your coach and mentors.</p>
                  <p><strong>Do I have to live in Kona during the intensive period?</strong><br>
                    No, you do not. Team members will, however, be required to attend certain workshops, seminars and events at the facility.</p>
                  <p><strong>What happens after the 6-month intensive period?</strong><br>
                    At the end of the six-month intensive program, each company will have a polished and packaged transmedia franchise plan, including a business plan and investor presentation for at least three different expressions of their IP constituting multiple revenue streams. This portion of the program will end with an investor Showcase Day attended by potential follow-on funders including those in the networks of Accelerator advisors, mentors and consultants. Companies will then be poised to rapidly raise follow-on funding over the next six-month period of supported pitching and fundraising.</p>
                  <p><strong>Do I have to raise follow-on funding immediately after my company’s acceleration period?</strong><br>
                    Yes - unless company founders, Accelerator coaches and mentors agree that the company needs further development.</p>
                  <p><strong>Does the Program fund non-profits?</strong><br>
                    The Program is a for profit venture and as such, the GTA Development Fund will not select non-profit companies for acceleration. Investors are looking to recoup and receive competitive returns on their capital.</p>
                  <p><strong>What sort of partnership will I be entering into with the GTA Development Fund? What sort of control am I giving to the Fund by granting it equity in my company?</strong><br>
                    The GTA Development Fund will be a minority interest owner at 10% equity stake. Essentially, the Fund doesn’t want any special or controlling interests in your company or uncommon investor rights, nor does the Fund need a board seat. Just looking for a great return on a great investment!</p>

                  <h4>CONTACT</h4>
                  <h5>For Press & Outreach: DAVID BRUCE, <%= mail_to "d.bruce@globalvirtualstudio.com", "d.bruce@globalvirtualstudio.com" %>, 808-938-7227</h5>
                  <h5>For General Information: <%= mail_to "accel@globalvirtualstudio.com", "accel@globalvirtualstudio.com" %></h5>
                  <br>
                  <h3>FAQ FOR APPLICANTS</h3>

                  <p><strong>Do I have to answer all the questions to be considered?  Do I have to submit all the requested materials?</strong><br>
                  Questions marked with an asterisk (*) must be answered for consideration.  Other questions are meant to help Program facilitators get a better picture of where you’re at in your development process.</p>
                  <p><strong>Do I have to be a Hawai’i resident entrepreneur to apply?</strong><br>
                    No, however keep in mind the Program is targeting Hawai’i-based entrepreneurial teams/ Hawai’i owned transmedia companies. Preference will be shown to candidates who demonstrate plans to produce products or to capture and retain the value of their IP in Hawai’i, or continue business activities in Hawai’i</p>
                  <p><strong>Can I apply if I’m not a US citizen?</strong><br>
                  Yes, but your startup company must be a US domiciled company.</p>
                  <p><strong>Can I still apply if I am the only founder of my startup?</strong><br>
                    Yes, you may apply as a sole founder. We do recommend, however, that you begin to look seriously for complementary team members to share the founding responsibilities and ownership with you. Applicants will be considered, in part, based on the strength of the team.</strong><br></p>
                  <p><strong>Can I apply if my idea is in its early stages of formation?</strong><br>
                    The GVS Transmedia Accelerator Program is geared towards transmedia companies who have already formed their story concept and have a script draft for their lead product. For those who are in earlier stages of incubation and concept development, we recommend programs such as Creative Lab http://www.hiff.org/education/creative-lab</p>
                  <p><strong>Is my company already too developed to apply?</strong><br>
                    The Program is looking for companies that have been in incubation and have begun their development. These companies are now ready for acceleration and launch! Companies/franchises need to be at a stage where they can still be shaped. The GVS Transmedia Accelerator Program is not a marketing initiative for executed products.</p>
                  <p><strong>I’m submitting elements of my IP for review as a part of the application process and signed a waiver releasing GVS Transmedia Accelerator from liability. Will my IP be protected?</strong><br>
                    Materials requested for review by the Program will only be seen by those facilitating the Program and the selection process and for the express purpose of considering your application.</p>
                  <p><strong>Additional Questions?</strong><br>
                  Please email us at accel@globalvirtualstudio.com</p>

           </div>
      </div>
    </div>
</div>

<!-- End Main Content -->