<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>

<% provide(:title, 'VFX') %>
<% provide(:carouselimg, 'concept_carousel.jpg') %>
<% content_for :carousel do %>
    <%= render 'layouts/carousel' %>
<% end %>

<div class="page-header" id="whiteBg">
  <h1>Concept Art</h1>
  <h4>With our vast network of highly skilled concept artist we can take the words from your script and transform them into visual representation of what they will look like on screen. Because we are a global community we will make sure that the right artists are developing the right art for your project.
  </h4>

  <div class="row">
    <h3 id="leftHeaderMargin">Sample Work</h3>
    <div class="col-sm-6 col-md-3">
      <a class="fancybox" rel="group" href="big_image_1.jpg"><%= image_tag('conceptart/conc-01.jpg', class: 'thumbnail') %></a>

      <%= link_to image_tag('conceptart/conc-01.jpg', class: 'thumbnail fancybox'), '#' %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-02.jpg', class: 'thumbnail'), '#' %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-03.jpg', class: 'thumbnail'), '#' %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-04.jpg', class: 'thumbnail'), '#' %>
    </div>
  </div>

  <div class="row" id="rowspacer">
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-05.jpg', class: 'thumbnail'), '#' %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-06.jpg', class: 'thumbnail'), '#' %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-07.jpg', class: 'thumbnail'), '#' %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-08.jpg', class: 'thumbnail'), '#' %>
    </div>
  </div>

  <div class="row" id="rowspacer">
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-09.jpg', class: 'thumbnail'), '#' %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-10.jpg', class: 'thumbnail'), '#' %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-11.jpg', class: 'thumbnail'), '#' %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-12.jpg', class: 'thumbnail'), '#' %>
    </div>
  </div>

  <div class="row" id="rowspacer">
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-13.jpg', class: 'thumbnail'), '#' %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-14.jpg', class: 'thumbnail'), '#' %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-15.jpg', class: 'thumbnail'), '#' %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-16.jpg', class: 'thumbnail'), '#' %>
    </div>
  </div>

  <div class="row" id="rowspacer">
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-17.jpg', class: 'thumbnail'), '#' %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-18.jpg', class: 'thumbnail'), '#' %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-19.jpg', class: 'thumbnail'), '#' %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-20.jpg', class: 'thumbnail'), '#' %>
    </div>
  </div>

  <div class="row" id="rowspacer">
    <div class="col-sm-6 col-md-3">
      <%= link_to image_tag('conceptart/conc-21.jpg', class: 'thumbnail'), '#' %>
    </div>
  </div>
</div>
<!-- End Main Content -->

