<% provide(:title, 'Home') %>
<% content_for :carousel do %>
    <%= render 'layouts/homecarousel' %>
<% end %>


    <div class="jumbotron">
      <div class="container">
        <h1>Connect, Create, Transform</h1>
        <p>Global Virtual Studio (GVS) is a team of content creators based on the Big Island of Hawai'i who are passionate about transforming original ideas into stories and bringing them to life.</p>
        <p><%= link_to "Learn more &raquo;".html_safe, about_path, class: "btn btn-primary btn-lg" %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="thumbnail">
          <h2>Film</h2>
        <%= link_to image_tag "teaser01.jpg", alt: "" %>
          <div class="caption"><p>GVS connect with your creative story and co-create with you more than just a movie, cultivating a world that we want to see.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="thumbnail">
          <h2 id="light">Audio</h2>
          <%= link_to image_tag "teaser02.jpg", alt: "" %>
          <div class="caption"><p>GVS Connects with your needs for Music, Sound Design, Sound Fx, Enhancing  your project with original ideas Created by our international fellowship of artist.
          </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="thumbnail">
          <h2 id="light">Marketing</h2>
          <%= link_to image_tag "teaser05.jpg", alt: "" %>
          <div class="caption"><p>GVS provides the branding and creative elements for a dynamic marketing and social media campaign for transmedia productions.
          </p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Main Content -->

