<% provide(:title, 'Home') %>

<%= image_tag "hawaii15b.jpg", id: "bgimg" %>

<%= render 'layouts/carousel' %>

<!-- Start Main Content -->
<div class="container">
  <div class="content">
    <div class="jumbotron">
      <div class="container">
        <h1><span style="color: #f1b428">Create</span> <span style="color: #dd0685">Connect</span> <span style="color: #008ac1">Cultivate</span></h1>
        <p>Global Virtual Studio (GVS) is a team of content creators based on the Big Island of Hawai'i who are passionate about transforming original ideas into stories and bringing them to life.</p>
        <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="thumbnail">
          <h2>Film</h2>
        <%= link_to image_tag "teaser01.jpg", alt: "" %>
          <div class="caption"><p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary btn-sm" href="#">View details &raquo;</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="thumbnail">
          <h2 id="light">Audio</h2>
          <%= link_to image_tag "teaser02.jpg", alt: "" %>
          <div class="caption"><p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary btn-sm" href="#">View details &raquo;</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="thumbnail">
          <h2 id="light">Marketing</h2>
          <%= link_to image_tag "teaser03.jpg", alt: "" %>
          <div class="caption"><p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary btn-sm" href="#">View details &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Main Content -->

    <%= render "layouts/footer" %>

  </div>
</div>