<% provide(:title, 'Home') %>
<% content_for :carousel do %>
    <%= render 'layouts/homecarousel' %>
<% end %>


    <div class="jumbotron">
      <div class="container">
        <h1>Film and Transmedia Studio</h1>
              <div class="row" id="rowspacer">
                <div class="col-sm-6">
                  <div class="videoWrapper" style="margin: 0 auto">
                    <iframe allowfullscreen="" src="http://player.vimeo.com/video/76922198" frameborder="0" width="500" height="281"></iframe>
                  </div>
                </div>
                <div class="col-sm-6">
                  <p>Global Virtual Studio (GVS) is a team of content creators based on the Big Island of Hawai'i who are passionate about transforming original ideas into stories and bringing                        them to life.</p>
                  <p id="rowspacer"><%= link_to "Learn more &raquo;".html_safe, about_path, class: "btn btn-success btn-lg" %></p>
                </div>
              </div>
      </div>
    </div>

<div class="page-header" id="whiteBg" style="padding-left: 70px">
  <div class="row" id="rowspacer">
    <div class="col-sm-12 col-md-10">
        <h2>Creative Proof of Concepts & Development</h2>
        <p>Because sometimes you just need to make the movie before shooting them; GVS creates and equips storytellers with the necessary tools to visualize the projects before it’s been produce; bringing the stories to script  and Translating the ideas to the visual world. Giving faces to characters and colors to those magical places where the story takes place.
        </p>
    </div>
  </div>

  <div class="row" id="rowspacer">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <h3>Concept Art</h3>
        <p><%= link_to image_tag("poster_concart.jpg", alt: "Concept Art", width: "215px"), concept_path %></p>
        <p><%= link_to "View Gallery &raquo;".html_safe, concept_path %></p>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <h3>Previsualization</h3>
        <p><%= link_to image_tag("poster_previz.jpg", alt: "", width: "215px"), previz_path %></p>
        <p><%= link_to "View Gallery &raquo;".html_safe, previz_path %></p>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <h3>VFX & Animation</h3>
        <p><%= link_to image_tag("poster_vfx.jpg", alt: "", width: "215px"), vfx_path %></p>
        <p><%= link_to "View Gallery &raquo;".html_safe, vfx_path %></p>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <h3>Character Dev.</h3>
        <p><%= link_to image_tag("poster_character.jpg", alt: "", width: "215px"), character_path%></p>
        <p><%= link_to "View Gallery &raquo;".html_safe, character_path %></p>
      </div>
    </div>

 </div>
 <div class="row" id="rowspacer">

  <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <h3>Storyboard</h3>
        <p><%= link_to image_tag("poster_storyboard.jpg", alt: "", width: "215px"), storyboard_path%></p>
        <p><%= link_to "View Gallery &raquo;".html_safe, storyboard_path %></p>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <h3>Props</h3>
        <p><%= link_to image_tag("poster_props.jpg", alt: "", width: "215px"), props_path%></p>
        <p><%= link_to "View Gallery &raquo;".html_safe, props_path %></p>
      </div>
    </div>

  </div>

</div>
 <!-- End Main Content -->

