<% provide(:title, 'Home') %>
<% content_for :carousel do %>
    <%= render 'layouts/homecarousel' %>
<% end %>

<div class="jumbotron">
  <div class="row" id="acc-banner">
    <div class="col-sm-12 col-md-12" id="adaptive">
      <%= image_tag("GVS-Showcase-Home Page Banner.jpg", alt: "GTAAccelerator") "http://www.globalvirtualstudio.com/accelerator"%>
  </div>
    <div class="col-sm-2 col-md-2" style="text-align:center"><br><br><%= image_tag("rocket.png", alt: "GTA rocket", class: "rocket-style" ) %></div>
    <div class="col-sm-6 col-md-6">
      <h2>GVS Transmedia Accelerator<br />
        <small>is a Hawai'i-based initiative that will empower creative entrepreneurs to launch original, future-proof, impacting franchises for wide commercial audiences.</small></h2>
      <div id="rowspacer">
        <p><strong>Do you have a story to tell?</strong><br>
          The GVS Transmedia Accelerator is bringing together a world class community of entrepreneurs, creatives, mentors, investors, innovators and technologists, all with a common trait: the ability to dream big and tell your story through Transmedia.</p>
        <p><strong>What is Transmedia?</strong><br>
          Transmedia is the technique of telling a single story or story experience across multiple platforms and formats using current digital technologies.</p><hr>
        <p><small>GVS Transmedia Accelerator ... Created in Hawai’i - made for the world</small></p>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="apply-box">
        <p><strong>Application Period:</strong> April 11 - May 9th, 2014</p>
        <p><strong>Start:</strong> late May/early June, 2014</p>
        <p><strong>Applications:</strong> <span style="color: #04bbf7"> CLOSED</span> </p>
        <!--<div style="text-align:center" id="rowspacer">-->
          <!--<%= button_to "More Info &raquo;".html_safe, accelerator_path, class: "btn btn-success btn-lg", id: "apply-btn", method: :get %>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <div class="row" id="acc-banner">
    <div class="col-sm-12 col-md-12" id="adaptive">
      <%= image_tag("acc_banner_bottom.png", alt: "GTA Accelerator") %>
    </div>
  </div>
</div>

<div class="jumbotron" id="jumbotron-padding">
  <div class="container">
    <h1>Film & Transmedia Studio</h1>
    <div class="row" id="rowspacer">
      <div class="col-sm-6">
        <div class="videoWrapper" style="margin: 0 auto">
          <iframe allowfullscreen="" src="https://player.vimeo.com/video/80512081" frameborder="0" width="500" height="281"></iframe>
        </div>
      </div>
      <div class="col-sm-6">
        <p>Global Virtual Studio (GVS) is a team of content creators based on the Big Island of Hawai'i and connected to the world. GVS is passionate about transforming original ideas into stories and bringing them to life.</p>
        <p id="rowspacer"><%= link_to "Learn more &raquo;".html_safe, about_path, class: "btn btn-success btn-lg" %></p>
      </div>
    </div>
  </div>
</div>

<div class="page-header" id="whiteBg">
  <div class="row" id="rowspacer">
    <div class="col-sm-10 col-md-10">
        <h2>Creative Proof of Concepts & Post Production</h2>
        <p>With a wide menu of pre-visualisation tools, GVS empowers storytellers discover and communicate the creative vision of their projects before production.  Concept Art, storyboards, animatics and more begin to bring a script to life - putting flesh on characters and giving shape and color to those magical places where the story takes place.</p>
    </div>
  </div>

  <div class="row" id="rowspacer">
    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <p><%= link_to image_tag("poster_concart.jpg", alt: "Concept Art", width: "215px"), concept_path %></p>
        <p style="text-align: right"><%= link_to "View Gallery &raquo;".html_safe, concept_path %></p>
      </div>
    </div>

    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <p><%= link_to image_tag("poster_previz.jpg", alt: "", width: "215px"), previz_path %></p>
        <p style="text-align: right"><%= link_to "View Gallery &raquo;".html_safe, previz_path %></p>
      </div>
    </div>

    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <p><%= link_to image_tag("poster_vfx.jpg", alt: "", width: "215px"), vfx_path %></p>
        <p style="text-align: right"><%= link_to "View Gallery &raquo;".html_safe, vfx_path %></p>
      </div>
    </div>

    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <p><%= link_to image_tag("poster_character.jpg", alt: "", width: "215px"), character_path%></p>
        <p style="text-align: right"><%= link_to "View Gallery &raquo;".html_safe, character_path %></p>
      </div>
    </div>

  <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <p><%= link_to image_tag("poster_storyboard.jpg", alt: "", width: "215px"), storyboard_path%></p>
        <p style="text-align: right"><%= link_to "View Gallery &raquo;".html_safe, storyboard_path %></p>
      </div>
    </div>

    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <p><%= link_to image_tag("poster_props.jpg", alt: "", width: "215px"), props_path%></p>
        <p style="text-align: right"><%= link_to "View Gallery &raquo;".html_safe, props_path %></p>
      </div>
    </div>
   <div class="col-sm-4 col-md-3">
     <div class="thumbnail">
       <p><%= link_to image_tag("poster_audio.jpg", alt: "", width: "215px"), filmaudio_path%></p>
       <p style="text-align: right"><%= link_to "View Gallery &raquo;".html_safe, filmaudio_path %></p>
     </div>
   </div>
   <!--<div class="col-sm-6 col-md-3">-->
     <!--<div class="thumbnail">-->
       <!--<p><%= link_to image_tag("poster_audio.jpg", alt: "", width: "215px"), editorial_path%></p>-->
       <!--<p style="text-align: right"><%= link_to "View Gallery &raquo;".html_safe, editorial_path %></p>-->
     <!--</div>-->
   <!--</div>-->
  </div>

 </div>

 <!-- End Main Content -->

