<% provide(:title, 'Home') %>
<% content_for :carousel do %>
    <%= render 'layouts/homecarousel' %>
<% end %>


    <div class="jumbotron">
      <div class="container">
        <h1>Connect, Create, Transform</h1>
        <p>Global Virtual Studio (GVS) is a team of content creators based on the Big Island of Hawai'i who are passionate about transforming original ideas into stories and bringing them to life.</p>
        <p><%= link_to "Learn more &raquo;".html_safe, about_path, class: "btn btn-success btn-lg" %></p>
      </div>
    </div>

<div class="page-header" id="whiteBg">
  <h1>Some title for Film Production<br /><small>Our focus on Film production services including Pre-production and Marketing</small></h1>

  <div class="row" id="rowspacer">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <h3>Concept Art</h3>
        <p><%= link_to image_tag "teaser01.jpg", alt: "", width: "227px" %></p>

          <p><a href="#" class="btn btn-default">View gallery &raquo;</a></p>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <h3>Previz</h3>
        <p><%= link_to image_tag "teaser01.jpg", alt: "", width: "227px" %></p>

        <p><a href="#" class="btn btn-default">View gallery &raquo;</a></p>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <h3>VFX Animation</h3>
        <p><%= link_to image_tag "teaser01.jpg", alt: "", width: "227px" %></p>

        <p><a href="#" class="btn btn-default">View gallery &raquo;</a></p>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <h3>Character Dev.</h3>
        <p><%= link_to image_tag "teaser01.jpg", alt: "", width: "227px" %></p>

        <p><a href="#" class="btn btn-default">View gallery &raquo;</a></p>
      </div>
    </div>

 </div>
 <div class="row" id="rowspacer">

  <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <h3>Storyboard</h3>
        <p><%= link_to image_tag "teaser01.jpg", alt: "", width: "227px" %></p>

        <p><a href="#" class="btn btn-default">View gallery &raquo;</a></p>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <h3>Props</h3>
        <p><%= link_to image_tag "teaser01.jpg", alt: "", width: "227px" %></p>

        <p><a href="#" class="btn btn-default">View gallery &raquo;</a></p>
      </div>
    </div>

  </div>


</div>
 <!-- End Main Content -->

