<% provide(:title, 'Partners') %>
<% provide(:carousel, '') %>

<div class="page-header" id="whiteBg">
  <h1>Strategic Partners<br /><small>GVS loves the synergy of strategic partnerships and knows that the greatest creations grow out of collaboration.</small></h1>
  <h3 style="margin-bottom:0px" id="rowspacer">University of the Nations</h3>
  <p><%= link_to "www.uofnkona.edu", 'http://www.uofnkona.edu' %></p>
  <p><%= image_tag 'logouofn.png', class: 'partnerlogo', :align => 'left' %>The University of the Nations is an extremely broad and diverse network of 1,200 locations in 140 countries which gives its students and partners unparalleled reach to the world. This interdenominational Christian University is one big laboratory for innovations and technology with an emphasis on how to help transform our world. From natural farming techniques to significant breakthroughs in linguistics and cutting edge community development, the UofN is dedicated to empowering the people of our planet.</p>
  <p>GVS partners with University of the Nation's campuses around the world for networking with international artists and translation services.</p>
  <h3 style="margin-bottom:0px" id="rowspacer">Big Island Gigs</h3>
  <p><%= link_to "www.bigislandgigs.org", 'http://www.bigislandgigs.org' %></p>
  <p><%= image_tag 'logobig.png', class: 'partnerlogo', :align => 'left' %>Big Island Gigs (BIG) is a Hawai'i Island based production and location services company. BIG provides crew, equipment, locations and local knowledge for TV and Film production on the Island of Hawai'i.</p>
  <p>GVS partners with BIG for capturing original footage for a wide variety of our transmedia products.</p>
  <h3 style="margin-bottom:0px" id="rowspacer">The Film Institute</h3>
  <p><%= link_to "www.thefilminstitute.org", 'http://www.thefilminstitute.org' %></p>
  <p><%= image_tag 'logotfi.png', class: 'partnerlogo', :align => 'left' %>TFI is a non-profit Fellowship of intentional storytellers determined to evoke change in and through the art and craft of filmmaking and transmedia. TFI is committed to shaping culture by training content creators and incubating new transformational projects and initiatives.</p>
  <p>GVS was originally incubated by TFI and continues to partner and give back by hosting internships in studio facilitated by TFI.</p>
  <h3 id="rowspacer">GiantKiller Pictures</h3>
  <p><%= image_tag 'logogk.png', class: 'partnerlogo', :align => 'left' %>GiantKiller Pictures is a transmedia company that is dedicated to creating content that will challenge, inspire and bring hope to a wide commercial audience. GiantKiller is devoted to developing and producing entertainment with a fresh and innovative approach to movie making incorporating groundbreaking technologies and international talent.</p>
</div>

<!-- End Main Content -->