<% provide(:title, 'Film') %>
<% content_for :carousel do %>
    <%= render 'layouts/servicescarousel' %>
<% end %>

    <div class="page-header" id="whiteBg">
      <h1>Film, Audio and Marketing<br /><small>GVS connect with your creative story and co-create with you more than just a movie, cultivating a world that we want to see.</small></h1>
      <p id="rowspacer"></p>
      <p><strong>Film:</strong> Story and Character consultant, Concept art, Storyboard, Previz, Creative Proof of Concepts, VFX and Animation``
      </p>
      <p><strong>Audio:</strong> GVS Connects with your needs for Music, Sound and Music Design, Sound FX enhancing your project with original ideas created by our international fellowship of artist.Sound Effects, Sound Design, Film Scoring, Music for Video Game, Mixing
      </p>
      <p><strong>Marketing:</strong> GVS provides the branding and creative elements for a dynamic marketing and social media campaign for transmedia productions. Graphic Design, App Development, Social Network
      </p>
    </div>

    <div class="row">
      <h2>Sample work</h2>
      <h3>Concept Art</h3>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('conceptart/conc-01.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('conceptart/conc-02.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('conceptart/conc-03.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('conceptart/conc-04.jpg', class: 'thumbnail'), '#' %>
      </div>
    </div>

    <div class="row" id="rowspacer">
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('conceptart/conc-05.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('conceptart/conc-06.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('conceptart/conc-07.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('conceptart/conc-08.jpg', class: 'thumbnail'), '#' %>
      </div>
    </div>

    <div class="row" id="rowspacer">
      <h3>Previz</h3>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
    </div>

    <div class="row" id="rowspacer">
      <h3>Props</h3>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('props/props-01.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('props/props-02.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('props/props-03.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('props/props-04.jpg', class: 'thumbnail'), '#' %>
      </div>
    </div>

    <div class="row" id="rowspacer">
      <h3>Story & Character Consultant</h3>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('story/story-01.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('story/story-02.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('story/story-03.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('story/story-04.jpg', class: 'thumbnail'), '#' %>
      </div>
    </div>

    <div class="row" id="rowspacer">
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('story/story-05.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('story/story-06.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('story/story-07.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('story/story-08.jpg', class: 'thumbnail'), '#' %>
      </div>
    </div>

    <div class="row" id="rowspacer">
      <h3>Storyboard</h3>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('board/board-01.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('board/board-02.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('board/board-03.jpg', class: 'thumbnail'), '#' %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to image_tag('board/board-04.jpg', class: 'thumbnail'), '#' %>
      </div>
    </div>

    <div class="row" id="rowspacer">
      <h3>VFX Animation</h3>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
    </div>

    <!-- End Main Content -->

